@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}

body{
    height: 100%;
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-color: transparent;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
    text-align: center;
    z-index: 100;
    background-color: rgb(61, 209, 24);             /*usun*/
}

.navbar a{
    border: #fff solid .1em;
    border-radius: .3em;
    padding: 0.5em;
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin: 0.1em;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: .1em;
    background: #fff;
    bottom: -.5em;
    border-radius: .25em;
    transform: translateY(1em);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.search_bar{
    width: 20em;
    height: 3em;
    background-color: transparent;
    border: .1em solid #fff;
    border-radius: .3em;
    display: flex;
    align-items: center;
}

.search_bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    padding-left: 0.7em;
}

.search_bar button{
    width: 10em;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.search_bar input::placeholder{
    color: #fff;
}

.socials a{
    border: #fff solid 0.1em;
    border-radius: 0.3em;
    padding: 0.5em;
}

.socials a{
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin: 1em;
}

.socials a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: .1em;
    background: #fff;
    bottom: -.5em;
    border-radius: .25em;
    transform: translateY(1em);
    opacity: 0;
    transition: .5s ease;
}

.socials a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.content{
    background-color: yellow;
    display: flex;
    margin-top: 5.72em;
    text-align: center;
}

.text{
    font-size: 1em;
    border-top: rgb(0, 255, 0) solid 1em;
    border-left: blue solid 1em;
    border-right: red solid 1em;
    border-bottom: yellow solid 1em;
    text-align: center;
}

.text h1{
    margin: 0;
    padding: .5em;
}

.text p{
    padding-left: .5em;
    padding-right: .5em ;
    background-color: yellow;
}

.wielkanoc{
    object-fit: cover;  
    width: 80.3%;
}